name: CI

on: [push, pull_request]
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Install nodejs
              uses: actions/setup-node@v4
              with:
                node-version: "20.x"
            
            - name: Install node dependencies
              run: npm ci

            - name: Run linting
              run: npm run lint

            - name: Run unit tests
              run: |
                npm run unit-test

            - name: Analyse code quality
              uses: sonarsource/sonarqube-scan-action@1a6d90ebcb0e6a6b1d87e37ba693fe453195ae25 # v5.3.1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                args: >
                  -Dsonar.organization=defra
                  -Dsonar.projectKey=DEFRA_cap-xml
                  -Dsonar.exclusions=**/node_modules/**,**/test/**,**/test-output/**
                  -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
                  -Dsonar.javascript.exclusions=**/node_modules/**,**/test/**,**/test-output/**,**/mock/**,**/public/**
